
body{
    font-size: 18px;
}

input{
    height: 50px;
    width: 200px;
    background-color: #fffbf1;
    border: 2px solid #ffd66e;
    font-size: 18px;
    color: #be8c01;
    text-align: center;
}
input::placeholder{
    color: #be8c01;
}
button{
    height: 50px;
    width: 200px;
    background-color: #ffd66e;
    border: 2px solid #fffbf1;
    font-size: 18px;
    color: #c76602;
}
button:focus{
    transform: scale(0.9);
    transition: 0.1s;
}
button:active{
    transform: scale(1);
}
button:hover{
    background-color: #c76602;
    border: 2px solid #fffbf1;
    color: #fffbf1;
}